/* Importing Google font style: Kaushan Script */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* Importing new styling sheet */
@import "singleDisplaySect.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

:root{
    --nav-box-backgrnd: #3E3B3B;
    --text-color: rgba(110, 204, 224, 0.91);
}

span{
    font-style: normal; 
    content: \007C; color: #1A1717;
}

body {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    font: 400 20px sans-serif;
    color: var(--text-color);
    align-content: space-around;
    margin-right: auto;
    margin-left: auto;
}

hr{
    border-color:var(--nav-box-backgrnd)
}
.container{
    height: 1024px;
    max-width: 1440px;
    background: #1A1717;
    /* background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0.8),
    hsla(220, 9%, 7%, 0.2)); */
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color) ;
}

a:hover{
    border-bottom: 1px solid var(--text-color) ;
    border-radius: 0;
    color:rgba(255, 255, 255, 0.568)
}

.nav-title{
    display: flex;
    min-width: 13vw;
    min-height: 42px;
    font: 400 20px 'Kaushan Script', normal;
    /* background-color: var(--nav-box-backgrnd); */
    align-items: center;
    justify-content: center;
    text-shadow:4px 3px #16211f;
    letter-spacing: 8px;
}

.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 35vw;
    min-height: 42px;
    background-color: var(--nav-box-backgrnd);
    padding-left: 10px;
    padding-right: 10px;
    gap: 55px;
}

.nav-lang{
    display: flex;
    min-width: 9vw;
    align-items: center;
    justify-content: center;
    min-height: 42px;
    max-height: 53px;
    background-color:var(--nav-box-backgrnd)
}

/* CSS for globe - Imported from Google fonts */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.nav-login{
    display: flex;
    min-width: 10vw;
    height: 42px;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color:var(--nav-box-backgrnd);
}

.pick_return{
    display: flex;
    /* flex-grow: 23px; */
    width: auto;
    min-height: 7vh;
    gap: 30px ;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
}

.pickup, .return{
    display: flex;
    min-width: 32vw;
    min-height: 67px;
    justify-content: space-between;
    background-color: var(--nav-box-backgrnd);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
}

.topPickDate{
    /* max-width: 90px; */
    height: 23px;
    font-size: .7em;
}

.leftTopPickDate{
    position: relative;
    right: 70%;    
}

.bottomTimeDate{
    max-width: 135px;
    height: 29px;
    position: relative;
    left: 70%;
}

.col input{
    background-color: hsl(0, 2%, 50%);
    color: var(--text-color);
}


.reserve{
    display: flex;
    max-width: 15vw;
    min-height: 6vh;
    background-color: var(--nav-box-backgrnd);
    padding: 10px;
    position: relative;
    top: 60px;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
    font-family: 'Kaushan Script', normal;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.568); 
    box-shadow: 0px 0px 4px 1px rgb(15, 58, 58); /*rgba(110, 204, 224, 0.91)*/
}

.caretButton ion-icon{
    display: flex;
    margin: 20px;
    /* margin-top:40px ; */
    width: 120px;
    height: 240px;
    color:#575050;
    overflow:hidden;
    align-items: center;
    box-shadow: 0px 0px 10px .1px var(--nav-box-backgrnd); /*rgba(110, 204, 224, 0.91)*/
}
    /* Hardcoded transition time */
    /* --transition-time: .15s; */

